<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icon Styling -->
    <script src="https://kit.fontawesome.com/b3800443f4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'images/blog.png' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Font Styling -->
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Baloo+Tamma+2:wght@500&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;1,300&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Syntax Highlighter -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <!-- Load additional languages -->
    <script charset="UTF-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/go.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"> Verdict </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if cats %}
                <li class="nav-item dropdown">
                    <a class="nav-space nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for cat in cats %}
                            <a class="dropdown-item" href="{% url 'category' cat.name %}">{{ cat.name }}</a>
                        {% endfor %}

                    </div>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-space nav-link .text-white" href="{% url 'add_post' %}">Add Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span style="color: white; font-size: 0.9rem; margin-right: 3px;"><i
                                class="far fa-user"></i></span>
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-space nav-link" href="{% url 'register' %}"> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"> Sign in </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<body>
<div class="base-container">
    {% block content %}
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<div class="bottom-container">
  <a href="https://www.linkedin.com/in/hmsayem/">
    <span class="social-icon">
      <i class="fab fa-linkedin"> </i>
    </span>
  </a>
  <a href="https://github.com/hmsayem">
    <span class="social-icon">
      <i class="fab fa-github"></i>
    </span>
  </a>
  <p class="copyright">©2020 Hossain Mahmud. @All rights reserved</p>
</div>
</body>
</html>
