{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Change Password
{% endblock %}
{% block content %}
    <div class="small-form">
        <h1 class="title">Change Password </h1>
        <hr>
        <br>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
               {{ form|crispy }}
{#                {{ form }}#}
            </div>
            <button class="btn btn-outline-success"> Confirm </button>
        </form>
    </div>


{% endblock %}
